.input {
  font-size: 12px;
  height: 18px;
  background-color: #00000000;
  text-align: center;
  transition: 0.5s;
  border: none;
  color: black;
  overflow: auto;
}

.input:focus-within {
  color: white;
  background-color: #000000;
}

.message-field {
  width: 210px;
  border: 2px solid black;
  border-radius: 3px;
  background-color: #00000000;
  transition: 0.5s;
}

.message-field:focus-within {
  background-color: #000000;
}

.textarea {
  display: block;
  box-sizing: border-box;
  font-size: 24px;
  min-height: 24px;
  background-color: #00000000;
  text-align: center;
  color: black;
  transition: 0.5s;
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 4px;
  overflow: auto;
}

.textarea:focus {
  color: white;
  background-color: #000000;
  min-height: 120px;
}

.cubeHTML,
.cubeHTML > div,
.cubeHTML > div > div {
  overflow: visible !important;
}
